<div style="background-color: rgb(255, 153, 127);">
    <label style="font-size: 35px; margin-left: 620px; margin-top: 50px;"> <b> Position: {{job.position}} </b> </label>
    <div *ngIf="job.comments.length === 0">
        <label style="margin-left: 300px; font-size: 20px; margin-top: 100px;">
            There aren't comments for this job!
        </label>  
    </div>
    <div class="container" *ngIf="job.comments.length !== 0">
        <div class="row" style="margin-top: 50px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">All comments</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr >
                                    <th scope="col">Text</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let comment of job.comments;let indexOfelement=index;">
                                <tr>
                                    <td scope="col">{{comment}}</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="job.juniorSalary.length === 0">
        <label style="margin-left: 300px; font-size: 20px; margin-top: 100px;">
            There aren't junior salaries for this job!
        </label>  
    </div>
    <div class="container" *ngIf="job.juniorSalary.length !== 0">
        <div class="row" style="margin-top: 50px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">Junior salary</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr >
                                    <th scope="col">In euros</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let salary of job.juniorSalary;let indexOfelement=index;">
                                <tr>
                                    <td scope="col">{{salary}}€</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="job.mediorSalary.length === 0">
        <label style="margin-left: 300px; font-size: 20px; margin-top: 100px;">
            There aren't medior salaries for this job!
        </label>  
    </div>
    <div class="container" *ngIf="job.mediorSalary.length !== 0">
        <div class="row" style="margin-top: 50px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">Medior salary</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr >
                                    <th scope="col">In euros</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let salary of job.mediorSalary;let indexOfelement=index;">
                                <tr>
                                    <td scope="col">{{salary}}€</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="job.hrInterviews.length === 0">
        <label style="margin-left: 300px; font-size: 20px; margin-top: 100px;">
            There aren't experiences about HR interviews for this job!
        </label>  
    </div>
    <div class="container" *ngIf="job.hrInterviews.length !== 0">
        <div class="row" style="margin-top: 50px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">HR interviews</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr >
                                    <th scope="col">Experiences</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let experience of job.hrInterviews;let indexOfelement=index;">
                                <tr>
                                    <td scope="col">{{experience}}</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="job.tehnicalInterviews.length === 0">
        <label style="margin-left: 300px; font-size: 20px; margin-top: 100px;">
            There aren't experiences about tehnical interviews for this job!
        </label>  
    </div>
    <div class="container" *ngIf="job.tehnicalInterviews.length !== 0">
        <div class="row" style="margin-top: 50px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title m-b-0">Tehnical interviews</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr >
                                    <th scope="col">Experiences</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let experience of job.tehnicalInterviews;let indexOfelement=index;">
                                <tr>
                                    <td scope="col">{{experience}}</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button style="margin-left: 720px; margin-top: 100px;" class="btn btn-secondary" (click)="backTousersPage()"> Back </button>
    <div class="row" style="margin-top: 100px;"></div>
</div> 
