<div style="background-color: rgb(255, 153, 127);">
    <div class="row">
        <div class="col-12">
            <label style="font-size: 35px; margin-left: 650px; margin-top: 50px;">  Add experience </label>
        </div>
        <div class="col-2" style="margin-top: 70px; margin-left: 120px; font-size: 17px;">
            <label > Select type of interview: </label>
        </div>
        <div class="col-8" style="margin-top: 65px;">
            <select name="type" class="form-control" id="type" style=" width: 130px;">
                <option value="HR"> HR </option>
                <option value="Tehnical"> Tehnical </option>
              </select>
        </div>
        <div class="col-10" >
            <textarea type="text" id="experience" class="md-textarea form-control" style="margin-left: 120px; margin-top: 50px; height: 100px;" placeholder="Add experience" mdbInput></textarea>
        </div>
        <div class="col-10">
            <label style="color: red; margin-left: 120px; margin-top: 50px;" *ngIf="showError"> You must type a experience! </label>
        </div>
        <div class="col-4">
            <button style="margin-left: 120px; margin-top: 50px;" class="btn btn-dark" (click)="addExperienceToJob()"> Add </button>
        </div>
        <div class="col-4">
            <button style="margin-left: 820px; margin-top: 50px;" class="btn btn-secondary" (click)="backToUsersPage()"> Back </button>
        </div>
        
    </div>
    <div class="row" style="height: 100px;">
            
    </div>
    
</div>
